<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Mi primer HTML</title>
</head>
<body>
    <h1>Primer HTML</h1>
    <img src = '/images/AB4.jpg' alt = 'Pomberito'> 
    <H6> ESTO ES H6</H6>
    <P>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Accusantium rem esse quis. Quis impedit, magni aspernatur necessitatibus aperiam, officia perferendis quos harum vitae iure temporibus, expedita provident minus? Atque, tempore.</P>
    <A href = 'https://www.google.com'> Ir a google </A>
    <ol start = 25> 
        <li>indice 25</li>
        <li>indice 26</li>
        <li>indice 27</li>
    </ol>

</body>
</html>