<!DOCTYPE html>
<html lang="en">
  <head>
    <link rel="preconnect" href="https://fonts.googleapis.com" />
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin />
    <link
      href="https://fonts.googleapis.com/css2?family=PT+Serif&family=Rubik+Dirt&display=swap"
      rel="stylesheet"
    />
    <link rel="preconnect" href="https://fonts.googleapis.com" />
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin />
    <link
      href="https://fonts.googleapis.com/css2?family=Rubik+Dirt&display=swap"
      rel="stylesheet"
    />

    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Mi primer HTML</title>
    <link rel="stylesheet" href="/css/normalize.css" />
    <link rel="stylesheet" href="/css/styles.css" />
  </head>
  <body>
    <h1>Primer HTML</h1>
    <img src="/images/AB4.jpg" alt="Pomberito" />
    <h6>ESTO ES H6</h6>
    <p>
      Lorem ipsum dolor sit amet, consectetur adipisicing elit. Accusantium rem
      esse quis. Quis impedit, magni aspernatur necessitatibus aperiam, officia
      perferendis quos harum vitae iure temporibus, expedita provident minus?
      Atque, tempore.
    </p>
    <a href="https://www.google.com"> Ir a google </a>
    <ol start="25">
      <li>indice 25</li>
      <li>indice 26</li>
      <li>indice 27</li>
    </ol>
  </body>
</html>
